
    <div class="form-container">
        <h1 mat-dialog-title>Student Predict Form</h1>
            <mat-card >
                <form #studentForm = "ngForm" >
                    <div>
                            <mat-form-field appearance="fill">
                                <mat-label>City name</mat-label>
                                <input matInput placeholder="Enter your city name"
                                [(ngModel)]= name
                                name = name
                                required>
                            </mat-form-field>
                    </div>
                    <button  mat-raised-button [disabled] ="!studentForm.valid" (click)="saveCity()"  color="primary">Save</button>

                </form>
            </mat-card> 
        </div>